<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand">
        <%= user.name %>
      </div>
      <a href="/log-out" class="navbar-brand"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log-out</a>
    </div>
  </nav>