<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    h2{
        font-size: 3rem;
        text-align: center;
    }

    a{
        margin-top: 2rem;
        text-align: center;
        display: block;
        padding: 1.5 0;
        color: black;
        background-color: #fdd835;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }

    p{
        line-height: 2;
    }
</style>

<body>
    <h2>Confirm Email</h2>

    <p>Hola, click aqui para confirm:</p>
    <a href='<%= confirmUrl %>'>confirm</a>

    <p>Si no solicitaste este email puedes ignorarlo</p>
</body>
</html>